/****** Script for SelectTopNRows command from SSMS  ******/

SELECT * FROM dbo.Empleado e
DBCC CHECKIDENT ('[usuario]', RESEED, 2);
DELETE FROM cliente 
SELECT * FROM dbo.cliente
SELECT * FROM dbo.usuario
SELECT * FROM dbo.TipoUsuario tu
SELECT * FROM dbo.Proveedor p
SELECT * FROM dbo.Empleado e




insert into Cliente(
      [primerNombreCliente]
      ,[segundoNombreCliente]
      ,[primerApellidoCliente]
      ,[segundoApellidoCliente]
      ,[duiCliente]
      ,[nitCliente]
      ,[telefonoCliente])
      
values('henry','julio','gonzales','Moralez','78498568-9',8798798,74568955)

insert into Cliente(
      [primerNombreCliente]
      ,[segundoNombreCliente]
      ,[primerApellidoCliente]
      ,[segundoApellidoCliente]
      ,[duiCliente]
      ,[nitCliente]
      ,[telefonoCliente])
      
values('julio','omar','gonzales','Moralez','78498568-8',8788798,74587955)

insert into Cliente(
      [primerNombreCliente]
      ,[segundoNombreCliente]
      ,[primerApellidoCliente]
      ,[segundoApellidoCliente]
      ,[duiCliente]
      ,[nitCliente]
      ,[telefonoCliente])
      
values('jonathan','marlon','gonzales','perez','79498568-9',8738798,74566955)








