
SELECT TOP 1000 [idClienteUsuario]
      ,[nombreClienteUsuario]
      ,[correoClienteUsuario]
      ,[fechaNacimientoClienteUsuario]
      ,[contraseniaClienteUsuario]
  FROM [Esta].[dbo].[ClienteUsuario]

  

  insert into ClienteUsuario([nombreClienteUsuario]
      ,[correoClienteUsuario]
      ,[fechaNacimientoClienteUsuario]
      ,[contraseniaClienteUsuario])
       values ('Hnery','henry@gmail.com','01/07/1999','74165896')

	   insert into ClienteUsuario([nombreClienteUsuario]
      ,[correoClienteUsuario]
      ,[fechaNacimientoClienteUsuario]
      ,[contraseniaClienteUsuario])
       values ('omar','omar@gmail.com','01/08/1999','74187996')

	   insert into ClienteUsuario([nombreClienteUsuario]
      ,[correoClienteUsuario]
      ,[fechaNacimientoClienteUsuario]
      ,[contraseniaClienteUsuario])
       values ('marvin','marvin@gmail.com','04/07/1998','68988585')







