SELECT p.* FROM dbo.Producto p


insert into producto([idCategoria]
      ,[idMarca]
      ,[nombreProducto]
	  ,[precio]
	  ,[descuento]
      ,[descripcionProducto])
	  values(1,2,'procesador', 50, 0 ,'bla bla bla')

	  insert into producto([idCategoria]
      ,[idMarca]
      ,[nombreProducto]
	  ,[precio]
	  ,[descuento]
      ,[descripcionProducto])
	  values(2,3,'monitor ips', 200, 0 ,'bla bla bla')







	  insert into producto([idCategoria]
      ,[idMarca]
      ,[nombreProducto]
      ,[descripcionProducto])
	  values(1,3,'procesador','bla bla bla')





